{% extends "base.html" %}

{% block title %} chat {% endblock title %}
{% block conteudo %}
<div class="chat-container">
    {% comment %} <div class="sidebar">
        <h2>AppMed</h2>
        <ul>
            <li>Atendimento</li>
            <li>Suporte Técnico</li>
        </ul>
    </div> {% endcomment %}
    <div class="chat">
        <div class="chat-header">
            <h1>
                Simulação Médica
            </h1>
    </div>
        <div class="chat-messages">
            {% for i in resposta %}
                {% if i.role == "user"  %}
                    <div class="message enviada">
                        <p>{{ i.content }}</p>
                    </div>
                {% endif %}
                {% if i.role == "assistant"  %}
                    <div class="message received">
                        <p>{{i.content}}</p>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="chat-input">
            <form  method="post" class="chat-input">
                {% csrf_token %}
                <input type="text" name="mensagem" placeholder="Digite sua mensagem..." required >
                <button type='submit'>Enviar</button>
            </form>
            <form  method="post">
                {% csrf_token %}
                <button type="submit" name="reiniciar" value="true">Reiniciar</button>
            </div>
        </form>
        <button id="show-instructions">Mostrar Instruções</button>
    <footer class="game-instructions" style="display: none;"> 
        <h2>Instruções do Jogo de Simulação Médica</h2>
        <h3>Objetivo:</h3>            
        <p>O objetivo deste jogo de simulação médica é adivinhar a doença do paciente
             através de perguntas sobre seus sintomas e histórico médico. O jogador que
             interpreta o médico precisa usar suas habilidades de 
             diagnóstico para identificar a doença corretamente.</p>

        <p>O jogador que interpreta o médico pode fazer perguntas sobre os sintomas,
                 histórico médico e estilo de vida do paciente.</p>
        <h3>Dicas para Novos Jogadores:</h3>
        <p>Preste atenção aos detalhes dos sintomas do paciente.</p>
        <p>Faça perguntas específicas para descartar possíveis doenças.</p>
        <p>Use o histórico médico do paciente para ajudar no diagnóstico.</p>
        <p>Se você estiver preso, peça dicas ao jogador que interpreta o paciente.</p>

    </footer>

    </div>
    
    <script>
      document.getElementById('show-instructions').addEventListener('click', function() {
        var instructions = document.querySelector('.game-instructions');
        instructions.style.display = instructions.style.display === 'none' ? 'block' : 'none';
      });
      const chatMessages = document.querySelector('.chat-messages');

    // Função para rolar para a última mensagem
    function scrollToBottom() {
    chatMessages.scrollTop = chatMessages.scrollHeight;
    }

    // Adicionar evento de "carregar" à página
    window.addEventListener('load', scrollToBottom);

    // Adicionar evento de "submit" ao formulário de envio de mensagem
    const chatInputForm = document.querySelector('.chat-input form');
    chatInputForm.addEventListener('submit', scrollToBottom);

    </script>
{% endblock conteudo %}

